<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZTjOtSeaZrWdbpXQ0BaFAEiHZT09UNoA</string>
	<key>GCM_SENDER_ID</key>
	<string>717353174274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practice</string>
	<key>PROJECT_ID</key>
	<string>backend-practice-94f37</string>
	<key>STORAGE_BUCKET</key>
	<string>backend-practice-94f37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717353174274:ios:f2cfe659d37c13ae106e1b</string>
	<key>DATABASE_URL</key>
	<string>https://backend-practice-94f37-default-rtdb.firebaseio.com</string>
</dict>
</plist>